@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fbbc39;
  background-size: cover;
}

h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
}

p {
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  color: #000; 
}



@media (max-width: 992px) {
form .flex{
  display: block;
}
}


.logoImage {
  max-width: 75% !important; /* Use !important to override */
  width: auto; /* To control size as needed */
}